* {
  box-sizing: border-box;
}
@font-face {
  font-family: "scramble";
  font-style: normal;
  src: url(scramble.ttf);
}
header{
  background-color: #570000 ;
  border: 2px solid black;
  border-radius: 12px;
}
.buttonHo {
  background-color: #E3CE9F ;
  border:none;
  color: #570000 ;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 2px grey;
  outline: 0px;
}
.buttonHi{
  background-color: #E3CE9F ;
  border:none;
  color: #570000 ;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 2px grey;
  outline: 0px;
}
body {
  background-image: url("imgs/background.jpg");
  background-size: cover;
}
h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
  font-family: "scramble";
  font-style: normal;
  font-size: 60px;
}
.profile {
  padding-bottom: 30px 0px 20px 50px;
  display: inline;
}
img {
  display: inline;
  width: 100%;
  opacity: 0.5;
}
img:hover {
  opacity: 1.0;
}
.michelle {
  margin: 5px;
  margin-top: 5px;
  padding: 5px;
  padding-top: 5px;
  margin-left: 65px;
  display: inline;
  float: left;
  width: 20%;
}
.michael {
  margin: 5px;
  margin-top: 5px;
  padding: 5px;
  padding-top: 5px;
  margin-left: 65px;
  display: inline;
  float: left;
  width: 20%;
}
.nathan {
  margin: 5px;
  margin-top: 5px;
  padding: 5px;
  padding-top: 5px;
  margin-right: 65px;
  display: inline;
  float: right;
  width: 20%;
}
.shannon {
  margin: 5px;
  margin-top: 5px;
  padding: 5px;
  padding-top: 5px;
  margin-right: 65px;
  display: inline;
  float: right;
  width: 20%;
}
.topSector {
  width: 100%;
  float: left;
}
.bottomSector {
  width: 100%;
  float: right;
}
h5 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: "scramble";
  font-style: normal;
  font-size: 18px;
}
#learnMoreWindow {
  width: 42%;
  height: 280px;
  position: absolute;
  top: 300px;
  left: 420px;
  background-image: url("imgs/wood.jpg");
  /*visibility: hidden;*/
  border-radius: 20px;
  border-color: #E3CE9F;
  border-width: 7px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  border-style: outset;
  font-size: 190%;
  font-weight: 700;
  font-family: 'Caveat', cursive;
  text-align: justify;
  text-shadow:
  -1px -1px 0 #E3CE9F,
  1px -1px 0 #E3CE9F,
  -1px 1px 0 #E3CE9F,
  1px 1px 0 #E3CE9F;
}
#faveword {
  padding-top: 50px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#blurb {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#favWordWord {
  font-family: "scramble";
  font-size: 40px;
  margin-left: 20px;
  background-color: #E3CE9F;
}
.clickHere p {
  font-family: 'Caveat', cursive;
  font-size: 300%;
  font-weight: 700;
  text-align: center;
  text-shadow:
  -1px -1px 0 #E3CE9F,
  1px -1px 0 #E3CE9F,
  -1px 1px 0 #E3CE9F,
  1px 1px 0 #E3CE9F;
  width: 35%;
  background-color: none;
  position: absolute;
  top: 330px;
  left: 450px;
  /*line-height: 45px;*/
}
mark {
  background-color: #E3CE9F;
}
