.current{
  font-family: "scramble";
  font-style: normal;
  font-size: 80px;
}
.upcoming{
  font-family: "scramble";
  font-style: normal;
  font-size: 80px;
}
.lockedin{
  font-family: "scramble";
  font-style: normal;
  font-size: 80px;
}
