* {
  box-sizing: border-box;
}

body {
  background-image: url("imgs/background.jpg");
  background-size: cover;
}
@font-face {
  font-family: "scramble";
  font-style: normal;
  src: url(scramble.ttf);
}

#letterTimer {
  width: 195px;
  height: 20px;
  overflow: auto;
  border: 2px solid black;
}

#fillMeter {
  float: left;
  background-color: red;
  width: 195px;
  height: 20px;
}

.greeting{
  font-family: "scramble";
  src: url(scramble.ttf);
  font-style: normal;
  font-size: 80px;
}

.current{
  font-family: "scramble";
  src: url(scramble.ttf);
  font-style: normal;
  font-size: 80px;
}
.upcoming{
  font-family: "scramble";
  src: url(scramble.ttf);
  color: gray;
  font-style: normal;
  font-size: 60px;
}
.lockedIn{
  font-family: "scramble";
  src: url(scramble.ttf);
  font-style: normal;
  font-size: 85px;
  height: 85px;
}
table{
  width: 85%;
  border: 10px double black;
  border-radius: 12px;
  box-shadow: 3px 3px 2px grey;
  width:80%;
  height: 170;
}
td{
  border-spacing: 16%;
  text-align:center;
  vertical-align:middle;
  height: 85px;
  width:85px;
}
button{
  background-color: #570000;
  border:none;
  color: #fbf4e3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 2px grey;
}
h3{
  font-family: monospace;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
