* {
  box-sizing: border-box;
}

.greeting {
  text-align: center;
}

table {
  margin: auto;
}

td {
  padding: 10px;
}

.upcoming {
  font-size: 42px;
}

.current {
  font-size: 42px;
}

.current:hover {
  cursor: pointer;
}

.lockedIn {
  font-size: 42px;
}

.ourProfiles {
  padding: 50px 0 20px 50px;
}

.profile {
  padding-bottom: 30px;
}

img {
  display: inline;
}

.displayInline {
  display: inline;
}
