/*header, aside, section, footer, {
  display: block*/
}
* {
  box-sizing: border-box;
}
body {
  background-image: url("imgs/background.jpg");
  background-size: cover;
}
@font-face {
  font-family: "scramble";
  font-style: normal;
  src: url(scramble.ttf);
}
header{
  background-color: #570000;
  border: 2px solid black;
  border-radius: 12px;
}
#rules, #save{
  background-color: #570000;
  border:none;
  color: #fbf4e3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 2px grey;
}
#GET-name{
  width: 40%;
  height: 40px;
}
#rules{
  float: left;
  margin-left: 100px;
}
label{
  font-family: "scramble";
  font-style: normal;
  font-size: 45px;
}
h1{
  font-family: "scramble";
  font-style: normal;
  font-size: 90px;
}
h2{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
}
#scram{
  font-family: "scramble";
  font-style: normal;
  font-size: 40px;
}
mark{
  background-color: #E3CE9F;
}
#nameEntry{
  text-align: center;
}
#welcome{
  text-align: center;
}
#listOfRules{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-style: 2px solid black;
}
.buttonHi{
  background-color: #E3CE9F;
  border:none;
  color: #570000;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 2px grey;
}
.buttonAb {
  background-color: #fbf4e3;
  border:none;
  color: #570000;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 2px grey;
}
input{
  width: 400x;
}
tr{
 width: 400px;
}
td{
  width: 700px;
}
.greeting {
  text-align: center;
}

table {
  margin: auto;
}

td {
  padding: 10px;
}

.upcoming {
  font-size: 42px;
}

.current {
  font-size: 42px;
}

.current:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.ourProfiles {
  padding: 50px 0 20px 50px;
}

.profile {
  padding-bottom: 30px;
}

.displayInline {
  width: 65%;
  display: inline-block;
  overflow: auto;
}

.learnMore {
  text-transform: capitalize;
  display: inline;
}

.learnMore:hover{
  cursor: pointer;
}
