* {
  box-sizing: border-box;
  outline: 0px;
}
body {
  background-image: url("imgs/background.jpg");
  background-size: cover;
}
@font-face {
  font-family: "scramble";
  font-style: normal;
  src: url(scramble.ttf);
}
header{
  background-color: #570000;
  border: 2px solid black;
  border-radius: 12px;
  margin-bottom: 0;
  margin-top: 0;
}
#rules, #save{
  background-color: #570000;
  border:none;
  color: #fbf4e3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 2px grey;
  outline: 0px;
}
#GET-name{
  width: 40%;
  height: 40px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid black;
  
}
#rules{
  float: left;
  margin-left: 10%;
}
label{
  font-family: "scramble";
  font-style: normal;
  font-size: 45px;
}
h1{
  font-family: "scramble";
  font-style: normal;
  font-size: 90px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;

}
h2{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
}
#scram{
  font-family: "scramble";
  font-style: normal;
  font-size: 40px;
}
mark{
  background-color: #E3CE9F;
}
#nameEntry{
  text-align: center;
  margin:0;
  outline: 0px;
}
#welcome{
  text-align: center;
}
#listOfRules{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-style: 2px solid black;
  margin: 0;
  padding: 1% 5%;
  line-height: 2;
}
.buttonHi{
  background-color: #E3CE9F;
  border:none;
  color: #570000;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 2px grey;
  outline: 0px;
}
.buttonAb {
  background-color: #E3CE9F;
  border:none;
  color: #570000;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 2px grey;
  outline: 0px;
}
#save{
  margin-right: 10%;
}
